body {
    background-color: #daeaf6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra de navegación */
.navbar {
    background-color: #9cadce;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

/* Lista de Barra de navegación */
.navbar__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

/* Módulo de Barra de navegación */
.navbar__list-item {
    margin: 0;
}

/* Enlace de Barra de navegación */
.navbar__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Efecto del enlace de Barra de navegación */
.navbar__link:hover {
    color: #d4afb9;
}

/* Iconos de Barra de navegación */
.navbar__list-item-icon {
    width: 40px;
    height: auto;
    margin-right: 8px;
}

header {
    background-color: #9cadce;
    color: #fff;
    text-align: center;
    margin: 10px;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* Párrafo del Contenido */
.container p {
    margin: 5px 0;
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Contenido */
.container {
    background-color: #daeaf6;
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* Módulo */
.container__item {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    min-width: 150px;
    max-width: 400px;
    width: 100%;
    min-height: 80px;
    margin: 30px;
    flex: 1 1 100%;
}

/* Estilos para ítems específicos */
.item1 {
    background-color: #f8b0b0;
    border: 4px solid #e87a7a;
    color: #d32f2f;
}

.item1:hover {
    border: 5px solid;
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out; 
}

.item2 {
    background-color: #f8d9a1;
    border: 4px solid #f2b765;
    color: #ff9800;
}

.item2:hover {
    border: 5px solid;
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out; 
}

.item3 {
    background-color: #d1a1e1;
    border: 4px solid #b074cf;
    color: #7b1fa2;
}

.item3:hover {
    border: 5px solid;
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out; 
}

.item4 {
    background-color: #a8e2a3;
    border: 4px solid #6bc76c;
    color: #43a047;
}

.item4:hover {
    border: 5px solid;
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out; 
}

.item5 {
    background-color: #c4c4c4;
    border: 4px solid #666;
    color: #666;
}

.item5:hover {
    border: 5px solid;
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out; 
}

.item6 {
    background-color: #d4b98a;
    border: 4px solid ;
    color: #a47a4b;
}

.item6:hover {
    border: 5px solid;
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out; 
}

.item7 {
    background-color: #c4e4e7;
    border: 4px solid #81c5cb;
    color: #00b0b9;
}

.container__content {
    width: 95%;
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.container__section {
    background-color: #c4e4e7;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container__list--item {
    list-style-type: none;
}

.container__block {
    text-wrap: wrap;
    border-radius: 8px;
    border: 4px solid;
    white-space: pre-line;
    cursor: pointer;    
    background-color: #fff;
    margin: auto;
    min-width: 250px;
    max-width: 95%;
    min-height: 220px;
    height: auto;
    padding: 10px;
    margin-top: 20px;
}

.container__imgrepe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.preview-image{
    border-radius: 8px;
    border: 4px solid #00b0b9;
    min-width: 100px;
    width: 250px;
}

.container__summary {
    background-color: #c4c4c4;
}

.icon_arrow {
    display: flex;
    justify-content: center;
    align-items: center;          
}


